body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.block
    display: block
.error
    color: red
.general-error
    @extend .error
    border: dashed red thin
    background-color: yellow
    display: block
    margin: 1em
label
    font-weight: bold
    display: block
    margin: 1em
    vertical-align: text-top